  # ===== EVM RPCs =====                                                                                                                                                                            
  ETH_RPC_URL=                                                                                                                                                                                      
  SONIC_RPC_URL=                                                                                                                                                                                    
  BSC_RPC_URL=                                                                                                                                                                                      
  BASE_RPC_URL=                                                                                                                                                                                     
  AVAX_RPC_URL=                                                                                                                                                                                     
  ARB_RPC_URL=                                                                                                                                                                                    
  OP_RPC_URL=                                                                                                                                                                                       
  ABSTRACT_RPC_URL=                                                                                                                                                                               
  INK_RPC_URL=                                                                                                                                                                                      
  SONEIUM_RPC_URL=
  CRONOS_ZK_EVM_RPC_URL=                                                                                                                                                                            
  FLARE_RPC_URL=                                                                                                                                                                                    
  ZORA_RPC_URL=                                                                                                                                                                                     
  KAVA_RPC_URL=                                                                                                                                                                                     
  METIS_RPC_URL=                                                                                                                                                                                  
                                                                                                                                                                                                    
  # ===== Solana =====                                                                                                                                                                            
  SOLANA_RPC_URL=                                                                                                                                                                                   
                                                                                                                                                                                                  
  # ===== Wallet addresses =====                                                                                                                                  
  ARB_WALLET_ADDRESS=
  REBALANCER_WALLET_ADDRESS=                                                                                                                                                                        
  SOLANA_WALLET_ADDRESS=                                                                                                                                                                            
                                                                                                                                                                                                  
  # ===== CEX =====                                                                                                                                                                                 
  MEXC_API_KEY=                                                                                                                                                                                   
  MEXC_SECRET=                                                                                                                                                                                      
  ANON_MEXC_API_KEY=
  ANON_MEXC_SECRET=                                                                                                                                                                                 
  RIVER_MEXC_API_KEY=                                                                                                                                                                             
  RIVER_MEXC_SECRET=                                                                                                                                                                                
  KRAKEN_API_KEY=                                                                                                                                                                                   
  KRAKEN_SECRET=                                                                                                                                                                                  
  GATE_API_KEY=                                                                                                                                                                                     
  GATE_SECRET=                                                                                                                                                                                      
                                                                                                                                                                                                  
  # ===== Telegram =====                                                                                                                                                     
  TG_BOT_TOKEN=                                                                                                                                                                                   
  TG_CHAT_ID=       