  # ===== EVM RPCs =====                                                                                                                                                                            
ETH_RPC_URL=
SONIC_RPC_URL=
BSC_RPC_URL=
BASE_RPC_URL=
AVAX_RPC_URL=
ARB_RPC_URL=
OP_RPC_URL=
ABSTRACT_RPC_URL=
INK_RPC_URL=
SONEIUM_RPC_URL=
CRONOS_ZK_EVM_RPC_URL=
FLARE_RPC_URL=
ZORA_RPC_URL=
KAVA_RPC_URL=
METIS_RPC_URL=

WEBSOKET_ETH_RPC_URL=
WEBSOKET_SONIC_RPC_URL=
WEBSOKET_BASE_RPC_URL=
WEBSOKET_AVAX_RPC_URL=
WEBSOKET_ARB_RPC_URL=
WEBSOKET_BSC_RPC_URL=
WEBSOKET_OP_RPC_URL=
WEBSOKET_ABSTRACT_RPC_URL=
WEBSOKET_INK_RPC_URL=
WEBSOKET_SONEIUM_RPC_URL=
WEBSOKET_CRONOS_ZK_EVM_RPC_URL=
WEBSOKET_FLARE_RPC_URL=
WEBSOKET_ZORA_RPC_URL=
WEBSOKET_KAVA_RPC_URL=
WEBSOKET_METIS_RPC_URL=
                                                                                                                                                                                                    
  # ===== Solana =====                                                                                                                                                                            
  SOLANA_RPC_URL=                                                                                                                                                                                   
                                                                                                                                                                                                  
  # ===== Wallet addresses =====                                                                                                                                  
  ARB_WALLET_ADDRESS=
  REBALANCER_WALLET_ADDRESS=                                                                                                                                                                        
  SOLANA_WALLET_ADDRESS=                                                                                                                                                                            

  # ===== Private keys =====
  EVM_PRIVATE_KEY=
  SVM_PRIVATE_KEY=

  # ===== CEX =====                                                                                                                                                                                 
  MEXC_API_KEY=                                                                                                                                                                                   
  MEXC_SECRET=                                                                                                                                                                                      
  ANON_MEXC_API_KEY=
  ANON_MEXC_SECRET=                                                                                                                                                                                 
  RIVER_MEXC_API_KEY=                                                                                                                                                                             
  RIVER_MEXC_SECRET=                                                                                                                                                                                
  KRAKEN_API_KEY=                                                                                                                                                                                   
  KRAKEN_SECRET=                                                                                                                                                                                  
  GATE_API_KEY=                                                                                                                                                                                     
  GATE_SECRET=                                                                                                                                                                                      
                                                                                                                                                                                                  
  # ===== Telegram =====                                                                                                                                                     
  TG_BOT_TOKEN=                                                                                                                                                                                   
  TG_CHAT_ID=  

# ===== Api ===== 
ETHERSCAN_API_KEY=YHAU7X7ZK2Y5N5E4PFEJJ34S7W6CVF1VRW
MORALIS_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjYwNmNlOTg4LWIyNTAtNDA3ZC05NzlkLWI3Nzc2MGMyOGU0MiIsIm9yZ0lkIjoiNDk5NzI3IiwidXNlcklkIjoiNTE0MjE0IiwidHlwZUlkIjoiNzA3ZmJlMDEtMGI2Zi00YmI0LTk2NjgtYjMyZDQ3ZmI1Mjk5IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NzA4MDcxNjcsImV4cCI6NDkyNjU2NzE2N30.kXftupuMV1DgMRin0u3mdq-m0Dl7WAJs65Fxo3dO330